*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}


/* ------------------
   header style
   ------------------ */

header{
    padding: 1rem 2rem;
    background-color: white;
}

header h1{
    font-weight: 700;
    font-size: 3rem;
    color: #021732;
    display: inline-block;
    vertical-align: middle;
}

img{
    vertical-align: middle;
    width: 60px;
}


/* ------------------
   main style
   ------------------ */

main{
    width: 75%;
    margin: 3rem auto;
}

/* ---------- "buttons_container" section --------- */
main .buttons_container{
    margin-bottom: 2px;
    background-color: white;
    padding: .75rem 3rem;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

main button{
    padding: .5rem 1rem;
    border-radius: 5px;
    border: transparent;
    font-weight: 400;
    font-size: 1rem;
}

#add_task{
    background-color: rgb(24, 170, 255);
    color: white;
}

#add_section{
    background-color: transparent;
    border: 1px grey solid;
    color: grey;
}

/* ---------- "tasks_container" section --------- */
main .tasks_container{
    background-color: white;
    padding: 1.5rem 3rem;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

main section{
    padding-bottom: 2rem;
}

main section .section_title{
    color: #021732;
}

main section .section_title span{
    font-size: 1rem;
}

ul{
    list-style: none;
}

li{
    margin: .75rem 0;
    font-weight: 500;
    font-size: 1.25rem;
    color: rgb(56, 56, 56);
}

/* checked/unchecked tasks style */
.checked::before{
    content: '\2713';
    display: inline-block;
    width: 17px; height: 17px;
    border-radius: 50%;
    border: 2px rgb(0, 156, 8) solid;

    font-size: .75rem;
    font-weight: 900;
    line-height: 17px;
    text-align: center;
    color: rgb(0, 156, 8);

    margin-right: 10px;
}

.unchecked::before{
    content: '\00D7';
    display: inline-block;
    width: 17px; height: 17px;
    border-radius: 50%;
    border: 2px red solid;

    font-size: 1rem;
    font-weight: 900;
    line-height: 15px;
    text-align: center;
    color: red;

    margin-right: 10px;
}

/* category of the task common style  */
li::after{
    content: '';
    background-color: transparent;
    height: 30px;
    color: white;
    font-size: .75rem;
    letter-spacing: 1px;

    border: transparent;
    border-radius: 20px;
    
    padding: 0 1rem;
    line-height: 28px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* category specific styles */
.category_editorial::after{
    background-color: rgba(28, 134, 255, 0.65);
    content: 'Editorial';
}

.category_sales::after{
    background-color: rgba(153, 205, 50, 0.65);
    content: 'Sales';
}

.category_website::after{
    background-color: rgba(153, 50, 204, 0.65);
    content: 'Website';
}

.category_mobile::after{
    background-color: rgba(255, 166, 0, 0.65);
    content: 'Mobile';
}

.category_recruiting::after{
    background-color: rgba(50, 205, 50, 0.65);
    content: 'Recruiting';
}

.category_q1_goals::after{
    background-color: rgba(128, 0, 128, 0.65);
    content: 'Q1 Goals';
}