*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* &check; &cross; */


/* ------------------
   header style
   ------------------ */

header{
    padding: 1rem 2rem;
    background-color: white;
}

header h1{
    font-weight: 700;
    font-size: 3rem;
    color: #021732;
    display: inline-block;
    vertical-align: middle;
}

img{
    vertical-align: middle;
    width: 60px;
}